@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent-color: #003a41;
    --langwarrin-color: rgb(0, 67, 1);
    --pacman-color: #0c0476;
    --catan-color: rgb(89, 199, 233);
    --nba-color: rgb(5, 26, 100);
    --contact-color: #0b0737;
    --pjc-color: rgb(209, 199, 158);
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


.title-set {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    min-height: 30vh;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    gap: 50px;
}

.info-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 75px;

}

.fade-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 2s;
}

.fade-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(50%);
    transition: all 2s;
}
.fade-in {
    opacity: 0;
    filter: blur(5px);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}