.footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: white;
    font-size: 14px;
  }
  
  .footer a {
    color: white; /* Set icon color to white */
    text-decoration: none;
  }
  
  .social-links {
    display: flex;
    justify-content: center; /* Centers the icons */
    gap: 30px; /* Adds space between icons */
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  